.placemark-description {
    background-color: #f0f8ff;
    padding: 10px; 
    border-radius: 15px;
    font-size: 15px;
    color: #333;
}

.placemark-photo img,
.placemark-video {
    margin-top: 10px;
    width: 100%;
    border-radius: 15px;
}